#titlecorners1 {
    border-radius: 15px;
    border: 2px solid #04A2EC;
    background: url(/content/images/testpattern.png);
    padding: 15px; 
    width: 200px;
    height: 150px;
    color: blue;
    font-size: 17px;
}
#maincorners1 {
    border-radius: 15px;
    border: 2px solid #04A2EC;
    background: url(/content/images/testpattern.png);
    padding: 15px;
    width: 800px;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
#alignbottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: lightblue;
}
body {
    font-family: 'Be Vietnam';
    background: #F9FAFB;
    font-size: 16px;
    color: white;
}
.center {
    margin: auto;
    text-align: center;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:active {
    color: darkblue;
}
